<!DOCTYPE html>
<html lang="en">
<head>
    <title>HND</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<h1 align="center" style="font-size: 60px">Heroes Never Die</h1>

<nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">HND</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="index.html">Home</a></li>
            <li ><a href="heroes.html">Heroes List</a></li>
            <li ><a href="overwatch.html">Heroes Info</a></li>
            <li class="active"><a href="maps.html">Maps</a></li>
            <li ><a href="#!/register">Register</a></li>
            <li ><a href="#!/login">Login</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>


<script id="maps_template" type="text/x-handlebars-template">
    <div class="container">
        <table>
            <thead>
            <tr>
                <th style="font-size: 22px" class="role">
                    Image
                </th>
                <th style="font-size: 22px" class="role">
                    Name
                </th>
                <th style="font-size: 22px" class="role">
                    Type
                </th>
                <th style="font-size: 22px" class="role">
                    Location
                </th>
                <th style="font-size: 22px" class="role">
                    terrain
                </th>
            </tr>
            </thead>

            <tbody>
            {{for maps}}
            <tr>
                <td>
                    <img src="{{:image}}" alt="">
                </td>
                <td style="font-size: 22px">
                    {{:name}}
                </td>
                <td style="font-size: 22px" class="imp">
                    {{:type}}
                </td>
                <td style="font-size: 22px">
                    {{:location}}
                </td>
                <td style="font-size: 22px">
                    {{:terrain}}
                </td>
            </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
</script>

<div id="app">

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>
<script>
    $.getJSON("data1.json", function (data){
        var html = $("#maps_template").render(data);

        console.log(data);
        $("#app").html(html);
    })
</script>

var root = null;
var useHash = true; //
var hash = '#!';
var router = new Navigo(root, useHash, hash);

router
.on('/', showheroes)
.on('/heroes/add', addhero)
.on('/heroes/:id/delete', deletehero)
.on('/heroes/:id/modify', modifyhero)
.on('/register', register)
.on('/login', login)
.on('/heroes/:id', showhero)
.resolve();

<script id="register_template" type="text/x-handlebars-template">

    <h1>Register</h1>

    <form action="">

        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <br>


        <button type="submit" class="btn btn-primary register-form-submit">
            Submit
        </button>
    </form>
</script>

<script id="login_template" type="text/x-handlebars-template">

    <h1>Login</h1>

    <form action="">

        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <br>


        <button type="submit" class="btn btn-primary login-form-submit">
            Submit
        </button>
    </form>
</script>


<script>

    async function registerFormSubmit (event){
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();
        console.log(data);


        $.post("/api/auth/register", data, function(result) {
            router.navigate('/');

            console.log(result);
            if (result.success) {
                var type = "success";
            } else {
                var type = "Error";
            }

            new Noty({
                text: result.msg,
                type: type,
                layout: 'topCenter',
                timeout: 3000
            }).show();
            router.navigate('/');
        }).catch(function (error){
            console.log(error)
        });
    }

    function register(){
        event.preventDefault();

        var html = $("#register_template").render();

        $("#app").html(html);

        $(".register-form-submit").on("click", registerFormSubmit);
    }

    function loginFromSubmit(event) {
        event.preventDefault();

        var form= $("form");

        var data = form.serializeObject();
        console.log(data);

        $.post("/api/auth/login", data, function (result) {
            console.log(result);
            router.navigate('/')
        }).catch( function (error){
            console.log(error);
        })
    }

    function login(){
        var html = $('#login_template').render();

        $("#app").html(html);

        $(".login-form-submit").on('click', loginFromSubmit);
    }
</script>

</body>
</html>