<!doctype html>
<html lang="en">
<head>
    <title>HND</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />
    <link rel="stylesheet" href="style.css">

</head>
<body>
<script id = ""></script>
<h1 align="center" style="font-size: 60px">Heroes Never Die</h1>

<nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">HND</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="index.html">Home</a></li>
            <li ><a href="heroes.html">Heroes List</a></li>
            <li class="active"><a href="overwatch.html">Heroes Info</a></li>
            <li ><a href="maps.html">Maps</a></li>
            <li ><a href="#!/register">Register</a></li>
            <li ><a href="#!/login">Login</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav>
<script id="heroes_template" type="text/x-handlebars-template">

    <a href="#!/heroes/add" class="add btn btn-primary">Add</a>

    <div class="container">
        <table>
            <thead>
            <tr >
                <th style="font-size: 22px" class="role">
                    Image
                </th>
                <th style="font-size: 22px" class="role">
                    Name
                </th>
                <th style="font-size: 22px" class="role">
                    Real Name
                </th>
                <th style="font-size: 22px" class="role">
                    Status
                </th>
                <th style="font-size: 22px" class="role">
                    Age
                </th>
                <th style="font-size: 22px" class="role">
                    Nationality
                </th>
                <th style="font-size: 22px" class="role">
                    Base
                </th>
                <th style="font-size: 22px" class="role">
                    Afiliation
                </th>
                <th style="font-size: 22px" class="role">
                    Role
                </th>
                <th style="font-size: 22px" class="role">
                    Health
                </th>
            </tr>
            </thead>

            <tbody>
            {{for heroes}}
            <tr>
                <td align="center" data-id={{:id}} class="details">
                    <a href="#!/heroes/{{:id}}"></a><img src="{{:image}}" alt=""></a>
                </td>
                <td style="font-size: 22px" align="center">
                    {{:name}}
                </td>
                <td style="font-size: 22px">
                    {{:realname}}
                </td>
                <td style="font-size: 22px">
                    {{:status}}
                </td>
                <td style="font-size: 22px">
                    {{:age}}
                </td>
                <td style="font-size: 22px">
                    {{:nationality}}
                </td>
                <td style="font-size: 22px">
                    {{:base}}
                </td>
                <td style="font-size: 22px">
                    {{:afiliation}}
                </td>
                <td style="font-size: 22px">
                    {{:role}}
                </td>
                <td style="font-size: 22px" class="imp">
                    {{:health}}
                </td>
                <td ><a data-id={{:id}} href="#!/heroes/{{:_id}}/delete" class="btn btn-danger delete">Delete</a></td>
                <td ><a data-id={{:id}} href="#!/heroes/{{:_id}}/modify" class="btn btn-warning modify">Modify</a></td>
            </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
</script>

<script id="hero_template" type="text/x-handlebars-template">

    <div class="container">
        <table>
            <thead>
            <tr >
                <th style="font-size: 22px" class="role">
                    Image
                </th>
                <th style="font-size: 22px" class="role">
                    Name
                </th>
                <th style="font-size: 22px" class="role">
                    Real Name
                </th>
                <th style="font-size: 22px" class="role">
                    Status
                </th>
                <th style="font-size: 22px" class="role">
                    Age
                </th>
                <th style="font-size: 22px" class="role">
                    Nationality
                </th>
                <th style="font-size: 22px" class="role">
                    Base
                </th>
                <th style="font-size: 22px" class="role">
                    Afiliation
                </th>
                <th style="font-size: 22px" class="role">
                    Role
                </th>
                <th style="font-size: 22px" class="role">
                    Health
                </th>
            </tr>
            </thead>

            <tbody>
            {{for heroes}}
            <tr>
                <td align="center" data-id={{:id}} class="details">
                    <a href="#!/heroes/{{:id}}"></a><img src="{{:image}}" alt=""></a>
                </td>
                <td style="font-size: 22px" align="center">
                    {{:name}}
                </td>
                <td style="font-size: 22px">
                    {{:realname}}
                </td>
                <td style="font-size: 22px">
                    {{:status}}
                </td>
                <td style="font-size: 22px">
                    {{:age}}
                </td>
                <td style="font-size: 22px">
                    {{:nationality}}
                </td>
                <td style="font-size: 22px">
                    {{:base}}
                </td>
                <td style="font-size: 22px">
                    {{:afiliation}}
                </td>
                <td style="font-size: 22px">
                    {{:role}}
                </td>
                <td style="font-size: 22px" class="imp">
                    {{:health}}
                </td>
                <td ><a data-id={{:id}} href="#!/heroes/{{:_id}}/delete" class="btn btn-danger delete">Delete</a></td>
                <td ><a data-id={{:id}} href="#!/heroes/{{:_id}}/modify" class="btn btn-warning modify">Modify</a></td>
            </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
</script>


<script id="register_template" type="text/x-handlebars-template">

    <h1>Register</h1>

    <form action="">

        <label for="name">Username</label>
        <input type="text" name="username" id="username">

        <br>

        <label for="realname">Password</label>
        <input type="password" name="password" id="password">

        <br>


        <button type="submit" class="btn btn-primary register-form-submit">
            Submit
        </button>
    </form>
</script>

<script id="login_template" type="text/x-handlebars-template">

    <h1>Login</h1>

    <form action="">

        <label for="name">Username</label>
        <input type="text" name="username" id="username">

        <br>

        <label for="realname">Password</label>
        <input type="password" name="password" id="password">

        <br>


        <button type="submit" class="btn btn-primary login-form-submit">
            Submit
        </button>
    </form>
</script>

<script id="add_hero_template" type="text/x-handlebars-template">

    <h1>Add Hero</h1>

    <form action="">

        <label for="imagen">Image</label>
        <input type="text" name="imagen" id="imagen">

        <br>

        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <br>

        <label for="realname">Real Name</label>
        <input type="text" name="realnamename" id="realname">

        <br>

        <label for="status">Status</label>
        <input type="text" name="realnamename" id="status">

        <br>

        <label for="age">Age</label>
        <input type="text" name="realnamename" id="age">

        <br>

        <label for="nationality">Nationality</label>
        <input type="text" name="realnamename" id="nationality">

        <br>

        <label for="base">Base</label>
        <input type="text" name="realnamename" id="base">

        <br>

        <label for="afiliation">Afiliation</label>
        <input type="text" name="realnamename" id="afiliation">

        <br>

        <label for="role">Role</label>
        <input type="text" name="realnamename" id="role">

        <br>

        <label for="health">Health</label>
        <input type="text" name="realnamename" id="health">

        <br>

        <button type="submit" class="btn btn-primary add-form-submit">
            Submit
        </button>
    </form>
</script>

<script id="modify_hero_template" type="text/x-handlebars-template">

    <h1>Modify {{:name}}</h1>

    <form action="">

        <label for="image">Image</label>
        <input type="text" name="imagen" id="image" value="{{:image}}">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{:name}}">

        <label for="realname">Real Name</label>
        <input type="text" name="realnamename" id="realname" value="{{:realname}}">

        <label for="status">Status</label>
        <input type="text" name="realnamename" id="status" value="{{:status}}">

        <label for="age">Age</label>
        <input type="text" name="realnamename" id="age" value="{{:age}}">

        <label for="nationality">Real Name</label>
        <input type="text" name="realnamename" id="nationality" value="{{:nationality}}">

        <label for="base">Base</label>
        <input type="text" name="realnamename" id="base" value="{{:base}}">

        <label for="afiliation">Afiliation</label>
        <input type="text" name="realnamename" id="afiliation" value="{{:afiliation}}">

        <label for="role">Role</label>
        <input type="text" name="realnamename" id="role" value="{{:role}}">

        <label for="health">Health</label>
        <input type="text" name="realnamename" id="health" value="{{:health}}">

        <button data-id="{{:id}}" type="submit" class="btn btn-primary modify-form-submit">
            Submit
        </button>
    </form>
</script>





<div id="app">

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>

<script>

    var root = null;
    var useHash = true; //
    var hash = '#!';
    var router = new Navigo(root, useHash, hash);

    router
        .on('/', showheroes)
        .on('/heroes/add', addhero)
        .on('/heroes/:id/delete', deletehero)
        .on('/heroes/:id/modify', modifyhero)
        .on('/register', register)
        .on('/login', login)
        .on('/heroes/:id', showhero)
        .resolve();

    function showhero(params){


        $.getJSON("/api/heroes/" + params.id, function (data) {
            var html = $("#hero_template").render(data);

            $("#app").html(html);

        });
    }

    async function registerFormSubmit (event){
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();
        console.log(data);


        $.post("/api/auth/register", data, function(result) {
            router.navigate('/');

            console.log(result);
            if (result.success) {
                var type = "success";
            } else {
                var type = "Error";
            }

            new Noty({
                text: result.msg,
                type: type,
                layout: 'topCenter',
                timeout: 3000
            }).show();
            router.navigate('/');
        }).catch(function (error){
            console.log(error)
        });
    }

    function register(){
        event.preventDefault();

        var html = $("#register_template").render();

        $("#app").html(html);

        $(".register-form-submit").on("click", registerFormSubmit);
    }

    function loginFromSubmit(event) {
        event.preventDefault();

        var form= $("form");

        var data = form.serializeObject();
        console.log(data);

        $.post("/api/auth/login", data, function (result) {
            console.log(result);
            router.navigate('/')
        }).catch( function (error){
            console.log(error);
        })
    }

    function login(){
        var html = $('#login_template').render();

        $("#app").html(html);

        $(".login-form-submit").on('click', loginFromSubmit);
    }

    function deletehero(params){

        $.ajax({
            url: '/api/heroes/' + params.id,
            type: 'DELETE'
        }).then(function (result) {
            router.navigate('/api/heroes');
        });
    }

    function modifyFormSubmit (event){
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();
        var button = $("form > button");

        var id = button.data("id");

        $.post("/api/heroes/" + id, data, function (result) {
            showheroes();
        });
    }

    function modifyhero(params){

        $.getJSON("/api/heroes/" + params.id, function (data) {
            var html = $("#modify_hero_template").render(data);

            $("#app").html(html);

            $(".modify-form-submit").on("click", modifyFormSubmit);

        });
    }

    function addFormSubmit (event){
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();


        $.post("/api/heroes/", data, function(result) {
            router.navigate('/');
        });
    }

    function addhero(){
        event.preventDefault();

        var html = $("#add_hero_template").render();

        $("#app").html(html);

        $(".add-form-submit").on("click", addFormSubmit);
    }

    function showheroes() {
        $.getJSON("/api/heroes/", function (data) {
            var html = $("#heroes_template").render(data);

            $('#app').html(html);

        });

    }


</script>
</body>
</html>