
body {
    background-color: #d0d3dd;
    margin-top: 50px;
    background: url("https://images.alphacoders.com/553/553497.jpg") no-repeat bottom center scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px;

}
@font-face {
    font-family: "customFont";
    src: url("bignoodletoo.ttf");
    format("truetype");
}
h1 {
    font-family: customFont;
    color: white;
}
#navbar{
    width: 900px;
    padding: 0em 0em;
    margin: 0px auto;
}
table, th, td {
    border: 2px solid #3d4040;
    width: 900px;
    align-content: center;
    padding: 0em 0em;
    margin: 0px auto;
}
th, td {
    padding: 10px;
    width: 900px;
    background-color: #23272F;
    font-family: "customFont";
    color: white;
    padding: 0em 0em;
    margin: 0px auto;
}
.logo {
    width: 1000px;
    position: relative;
    margin: auto;
    display: inline;
}
p{
    font-family: "customFont";
    font-size: 50px;
    display: inline;
    position: absolute;
    margin-left: 120px;

}
.logohero {
    width: 80px;
}
tr > td > p {
    font-size: 40px;
}
.role{
    color: #F7CB6B;
    src: url("overwatch.html");
}
tbody{
    border: 2px solid #3d4040;
    width: 900px;
    align-content: center;
}
thead{
    border: 2px solid #3d4040;
    width: 900px;
    align-content: center;
}
.imp{
    color: #F7CB6B;
    align-content: center;
}